<div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="{{urlAdmin}}/assets-admin/index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Blog Site</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="{{urlAdmin}}/assets-admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Karimov Islom</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    {{#if pageDash}}
                        <a href="{{urlAdmin}}/admin" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    {{else}}
                        <a href="{{urlAdmin}}/admin" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    {{/if}}

                    {{#if pageHome}}
                        <a href="{{urlAdmin}}/admin/home" class="nav-item nav-link active"><i class="fa fa-th me-2"></i>Home</a>
                    {{else}}
                        <a href="{{urlAdmin}}/admin/home" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Home</a>
                    {{/if}}

                    {{#if pageAbout}}
                        <a href="{{urlAdmin}}/admin/about" class="nav-item nav-link active"><i class="fa fa-chart-bar me-2"></i>About</a>
                    {{else}}
                        <a href="{{urlAdmin}}/admin/about" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>About</a>
                    {{/if}}

                    {{#if pageServices}}
                        <a href="{{urlAdmin}}/admin/blog" class="nav-item nav-link active"><i class="fa fa-keyboard me-2"></i>Services</a>
                    {{else}}
                        <a href="{{urlAdmin}}/admin/services" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Services</a>
                    {{/if}}

                    {{#if pageContact}}
                        <a href="{{urlAdmin}}/admin/contact" class="nav-item nav-link active"><i class="fa fa-chart-bar me-2"></i>Contact</a>
                    {{else}}
                        <a href="{{urlAdmin}}/admin/contact" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Contact</a>
                    {{/if}}


                    <div class="nav-item dropdown">
                        <a href="{{urlAdmin}}/assets-admin/#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="{{urlAdmin}}/uz/" class="dropdown-item" target="_blank">Home</a>
                            <a href="{{urlAdmin}}/uz/about" class="dropdown-item" target="_blank">About</a>
                            <a href="{{urlAdmin}}/uz/services" class="dropdown-item" target="_blank">Services</a>
                            <a href="{{urlAdmin}}/uz/contact" class="dropdown-item" target="_blank">Contact</a>
                            <a href="{{urlAdmin}}/uz/assets-admin/404.html" class="dropdown-item" target="_blank">404 Error</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="{{urlAdmin}}/assets-admin/index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="{{urlAdmin}}/assets-admin/#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="{{urlAdmin}}/assets-admin/#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="{{urlAdmin}}/assets-admin/#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="{{urlAdmin}}/assets-admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="{{urlAdmin}}/assets-admin/#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="{{urlAdmin}}/assets-admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="{{urlAdmin}}/assets-admin/#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="{{urlAdmin}}/assets-admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="{{urlAdmin}}/assets-admin/#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="{{urlAdmin}}/assets-admin/#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="{{urlAdmin}}/assets-admin/#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="{{urlAdmin}}/assets-admin/#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="{{urlAdmin}}/assets-admin/#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="{{urlAdmin}}/assets-admin/#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="{{urlAdmin}}/assets-admin/#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="{{urlAdmin}}/assets-admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">Karimov Islom</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <form action="/admin/logout" method="POST">
                                <button type="submit" class="dropdown-item">Log Out</button>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="{{urlAdmin}}/assets-admin/#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>