<header>
<div class="bg-white relative font-prompt font-medium">
    <nav
    id="navbar"
    class="container mx-auto px-6 py-6 flex justify-between items-center text-[14px] min-w-[100vw] uppercase"
    style="padding-left: 50px; padding-right: 50px;">
    <a href="/">
        <img
        src="{{Navbar.logoSrc}}"
        alt="Boysun Ko'xinur Travel"
        class="w-[150px] sm:w-[200px] lg:w-52"
        />
    </a>
    <ul class="hidden lg:flex space-x-[52px]">
        <li class="text-main-green-100">
        <a href="{{url}}/">{{Navbar.links.home}}</a>
        </li>
        <li class="hover:text-main-green-100 duration-200">
        <a href="{{url}}/about">{{Navbar.links.about}}</a>
        </li>
        <li class="hover:text-main-green-100 duration-200">
        <a href="{{url}}/services">{{Navbar.links.services}}</a>
        </li>
        <li class="hover:text-main-green-100 duration-200">
        <a href="{{url}}/contact">{{Navbar.links.contact}}</a>
        </li>
    </ul>
    
    <div id="navbar-arrows" class="lg:hidden w-[26px] relative">
        <span
            class="w-full h-px bg-black absolute top-0 duration-200"
        ></span>
        <span
            class="w-full h-px bg-black absolute top-[6px] duration-200"
        ></span>
        <span
            class="w-full h-px bg-black absolute top-[12px] duration-200"
        ></span>
    </div>
    <div
    id="mobile-navbar"
    class="absolute top-full left-0 w-full z-10 bg-white max-h-0 overflow-hidden"
    style="transition: all 600ms"
    >
    <ul class="py-[25px] px-10 space-y-[20px]">
        <li class="text-main-green-100">
        <a href="{{url}}/">{{Navbar.links.home}}</a>
        </li>
        <li class="hover:text-main-green-100">
        <a href="{{url}}/about">{{Navbar.links.about}}</a>
        </li>
        <li class="hover:text-main-green-100">
        <a href="{{url}}/services">{{Navbar.links.services}}</a>
        </li>
        <li class="hover:text-main-green-100">
        <a href="{{url}}/contact">{{Navbar.links.contact}}</a>
        </li>
        <li
        class="divide-x-2 divide-main-black-100 items-center flex"
        >
        <button
            class="hover:text-main-green-100 duration-200 pr-[15px] login-modal-opener uppercase"
        >
            Kirish
        </button>
        <div class="px-[15px] relative group">
            {{#if langUZ}}
                <p
                class="cursor-pointer peer relative after:absolute after:top-3 after:left-1/2 after:-translate-x-1/2 after:w-10 after:h-5 after:bg-transparent after:z-0"
                >
                O'Z
                </p>
                <ul
                class="bg-white absolute bottom-[120%] shadow-lg left-1/2 -translate-x-1/2 opacity-0 pointer-events-none duration-300 group-hover:opacity-100 group-hover:pointer-events-auto hover:pointer-events-auto hover:opacity-100 peer-hover:opacity-100 peer-hover:pointer-events-auto z-10"
                >
                <li
                    class="pt-3 pb-1.5 px-5 hover:text-main-green-100 duration-200 cursor-pointer lang-to-eng"
                >
                    ENG
                </li>
                <li
                    class="pb-3 pt-1.5 px-5 hover:text-main-green-100 duration-200 cursor-pointer lang-to-ru"
                >
                    RU
                </li>
                </ul>
            {{/if}}
            {{#if langENG}}
                <p
                class="cursor-pointer peer relative after:absolute after:top-3 after:left-1/2 after:-translate-x-1/2 after:w-10 after:h-5 after:bg-transparent after:z-0"
                >
                ENG
                </p>
                <ul
                class="bg-white absolute bottom-[120%] shadow-lg left-1/2 -translate-x-1/2 opacity-0 pointer-events-none duration-300 group-hover:opacity-100 group-hover:pointer-events-auto hover:pointer-events-auto hover:opacity-100 peer-hover:opacity-100 peer-hover:pointer-events-auto z-10"
                >
                <li
                    class="pt-3 pb-1.5 px-5 hover:text-main-green-100 duration-200 cursor-pointer lang-to-uz"
                >
                    O'Z
                </li>
                <li
                    class="pb-3 pt-1.5 px-5 hover:text-main-green-100 duration-200 cursor-pointer lang-to-ru"
                >
                    RU
                </li>
                </ul>
            {{/if}}
            {{#if langRU}}
                <p
                class="cursor-pointer peer relative after:absolute after:top-3 after:left-1/2 after:-translate-x-1/2 after:w-10 after:h-5 after:bg-transparent after:z-0"
                >
                RU
                </p>
                <ul
                class="bg-white absolute bottom-[120%] shadow-lg left-1/2 -translate-x-1/2 opacity-0 pointer-events-none duration-300 group-hover:opacity-100 group-hover:pointer-events-auto hover:pointer-events-auto hover:opacity-100 peer-hover:opacity-100 peer-hover:pointer-events-auto z-10"
                >
                <li
                    class="pt-3 pb-1.5 px-5 hover:text-main-green-100 duration-200 cursor-pointer lang-to-uz"
                >
                    O'Z
                </li>
                <li
                    class="pb-3 pt-1.5 px-5 hover:text-main-green-100 duration-200 cursor-pointer lang-to-uz"
                >
                    ENG
                </li>
                </ul>
            {{/if}}
        </div>
        <div class="px-[15px] relative group">
            <p
            class="cursor-pointer peer relative after:absolute after:top-3 after:left-1/2 after:-translate-x-1/2 after:w-10 after:h-5 after:bg-transparent after:z-0"
            >
            contact
            </p>
            <ul
            class="bg-white absolute bottom-[120%] shadow-lg left-1/2 -translate-x-1/2 opacity-0 pointer-events-none duration-300 group-hover:opacity-100 group-hover:pointer-events-auto hover:pointer-events-auto hover:opacity-100 peer-hover:opacity-100 peer-hover:pointer-events-auto z-10"
            >
            <li
                class="pt-3 pb-1.5 px-5 hover:text-main-green-100 duration-200 cursor-pointer"
            >
                <a href="tel:+9989459162">Tel:+998999459162</a>
            </li>
            <li
                class="pb-3 pt-1.5 px-5 hover:text-main-green-100 duration-200 cursor-pointer"
            >
                <a href="tel:+9989459162">Tel:+998945165522</a>
            </li>
            <li
                class="pb-3 pt-1.5 px-5 hover:text-main-green-100 duration-200 cursor-pointer"
            >
                <a href="tel:+9989459162">Tel:+998915848977</a>
            </li>
            <li
                class="pb-3 pt-1.5 px-5 hover:text-main-green-100 duration-200 cursor-pointer"
            >
                <a href="https://t.me/sayyoh555" target="_blank">Telegram 1</a>
            </li>
            <li
                class="pb-3 pt-1.5 px-5 hover:text-main-green-100 duration-200 cursor-pointer"
            >
                <a href="https://t.me/sayyoh5555" target="_blank">Telegram 2</a>
            </li>
            </ul>
        </div>
        </li>
    </ul>
    </div>
    <div
    class="hidden lg:flex divide-x-2 divide-main-black-100 items-center"
    >
    <button
        type="button"
        class="px-[15px] hover:text-main-green-100 duration-200 login-modal-opener uppercase"
    >
        Kirish
    </button>
    <div class="px-[15px] relative group">
        {{#if langUZ}}
            <p
            class="cursor-pointer peer relative after:absolute after:top-3 after:left-1/2 after:-translate-x-1/2 after:w-10 after:h-5 after:bg-transparent after:z-0"
            >
            O'Z
            </p>
            <ul
            class="bg-white absolute top-[110%] shadow-lg left-1/2 -translate-x-1/2 opacity-0 pointer-events-none duration-300 group-hover:opacity-100 group-hover:pointer-events-auto hover:pointer-events-auto hover:opacity-100 peer-hover:opacity-100 peer-hover:pointer-events-auto z-10"
            >
            <li
                class="pt-3 pb-1.5 px-5 hover:text-main-green-100 duration-200 cursor-pointer lang-to-eng"
            >
                ENG
            </li>
            <li
                class="pb-3 pt-1.5 px-5 hover:text-main-green-100 duration-200 cursor-pointer lang-to-ru"
            >
                RU
            </li>
            </ul>
        {{/if}}
        {{#if langRU}}
            <p
            class="cursor-pointer peer relative after:absolute after:top-3 after:left-1/2 after:-translate-x-1/2 after:w-10 after:h-5 after:bg-transparent after:z-0"
            >
            RU
            </p>
            <ul
            class="bg-white absolute top-[110%] shadow-lg left-1/2 -translate-x-1/2 opacity-0 pointer-events-none duration-300 group-hover:opacity-100 group-hover:pointer-events-auto hover:pointer-events-auto hover:opacity-100 peer-hover:opacity-100 peer-hover:pointer-events-auto z-10"
            >
            <li
                class="pt-3 pb-1.5 px-5 hover:text-main-green-100 duration-200 cursor-pointer lang-to-uz"
            >
                O'Z
            </li>
            <li
                class="pb-3 pt-1.5 px-5 hover:text-main-green-100 duration-200 cursor-pointer lang-to-eng"
            >
                ENG
            </li>
            </ul>
        {{/if}}
        {{#if langENG}}
            <p
            class="cursor-pointer peer relative after:absolute after:top-3 after:left-1/2 after:-translate-x-1/2 after:w-10 after:h-5 after:bg-transparent after:z-0"
            >
            ENG
            </p>
            <ul
            class="bg-white absolute top-[110%] shadow-lg left-1/2 -translate-x-1/2 opacity-0 pointer-events-none duration-300 group-hover:opacity-100 group-hover:pointer-events-auto hover:pointer-events-auto hover:opacity-100 peer-hover:opacity-100 peer-hover:pointer-events-auto z-10"
            >
            <li
                class="pt-3 pb-1.5 px-5 hover:text-main-green-100 duration-200 cursor-pointer lang-to-uz"
            >
                O'Z
            </li>
            <li
                class="pb-3 pt-1.5 px-5 hover:text-main-green-100 duration-200 cursor-pointer lang-to-ru"
            >
                RU
            </li>
            </ul>
        {{/if}}
    </div>
    <div class="px-[15px] relative group">
        <p
        class="cursor-pointer peer relative after:absolute after:top-3 after:left-1/2 after:-translate-x-1/2 after:w-10 after:h-5 after:bg-transparent after:z-0"
        >
        contact
        </p>
        <ul
        class="bg-white absolute top-[110%] shadow-lg left-1/2 -translate-x-1/2 opacity-0 pointer-events-none duration-300 group-hover:opacity-100 group-hover:pointer-events-auto hover:pointer-events-auto hover:opacity-100 peer-hover:opacity-100 peer-hover:pointer-events-auto z-10"
        >
        <li
            class="pt-3 pb-1.5 px-5 hover:text-main-green-100 duration-200 cursor-pointer"
        >
            <a href="tel:+9989459162">Tel:+998999459162</a>
        </li>
        <li
            class="pb-3 pt-1.5 px-5 hover:text-main-green-100 duration-200 cursor-pointer"
        >
            <a href="tel:+9989459162">Tel:+998945165522</a>
        </li>
        <li
            class="pb-3 pt-1.5 px-5 hover:text-main-green-100 duration-200 cursor-pointer"
        >
            <a href="tel:+9989459162">Tel:+998915848977</a>
        </li>
        <li
            class="pb-3 pt-1.5 px-5 hover:text-main-green-100 duration-200 cursor-pointer"
        >
            <a href="https://t.me/sayyoh555" target="_blank">Telegram 1</a>
        </li>
        <li
            class="pb-3 pt-1.5 px-5 hover:text-main-green-100 duration-200 cursor-pointer"
        >
            <a href="https://t.me/sayyoh5555" target="_blank">Telegram 2</a>
        </li>
        </ul>
    </div>
    </div>
    </nav>
</div>
<div
    id="login-modal"
    class="fixed z-[60] top-1/2 -translate-x-1/2 left-1/2 -translate-y-1/2 bg-white shadow-1 w-max mx-auto rounded-lg px-5 sm:px-10 py-5 opacity-0 pointer-events-none duration-200"
>
    <div class="text-center space-x-4 mr-6 mb-5">
    <button id="show-login-btn" class="border-b-2 border-transparent border-blue duration-200">Kirish</button>
    <button id="show-register-btn" class="border-b-2 border-transparent duration-200">Ro'yxatdan o'tish</button>
    <button
        id="login-modal-closer"
        class="absolute top-2 right-5 text-[20px]"
    >
        <i class="fa-solid fa-xmark"></i>
    </button>
    </div>
    <form method="POST" action="/{{lang}}/user/login" id="login-form" class="uppercase space-y-4 max-w-[80vw] w-[90vw] sm:max-w-[400px]">
    <input
        type="text"
        placeholder="Tahalusingiz"
        name="userName"
        class="w-full py-2 px-4 border-2"
        id="login-username"
    />
    <input
        type="password"
        placeholder="Parolingiz"
        name="pass"
        class="w-full py-2 px-4 border-2"
        id="login-password"
    />
    <button
        class="px-4 py-2 bg-[#4b7fe0] hover:bg-[#5b87d8] duration-200 text-white block w-full rounded-sm"
    >
        Kirish
    </button>
    </form>
    <form method="POST" action="/{{lang}}/user/register" id="register-form" class="hide-form duration-200 uppercase space-y-4 max-w-[80vw] w-[90vw] sm:max-w-[400px]">
    <input
        type="text"
        placeholder="Ism Familiyaningiz"
        name="fullName"
        class="w-full py-2 px-4 border-2"
        id="register-name"
    />
    <input
        type="text"
        placeholder="Tahalusingiz"
        name="userName"
        class="w-full py-2 px-4 border-2"
        id="register-username"
    />
    <input
        type="email"
        placeholder="Elektron pochtangiz"
        name="email"
        class="w-full py-2 px-4 border-2"
        id="register-email"
    />
    <input
        type="tel"
        placeholder="Telefon raqamingiz"
        name="phone"
        id="register-phone"
        placeholder="Telefon raqamingiz, +12133213212"
        class="w-full py-2 px-4 border-2"
    />
    <input
        type="password"
        placeholder="Parolingiz"
        name="pass"
        class="w-full py-2 px-4 border-2"
        id="register-password"
    />
    <input
        type="password"
        placeholder="Parolni qayta kiriting"
        name="passRepeat"
        class="w-full py-2 px-4 border-2"
        id="register-passwordConfirm"
    />
    <span id="register-error" class="text-red-700 mt-4 block text-[12px]"></span>
    <button
        id="register-submit"
        class="px-4 py-2 bg-[#4b7fe0] hover:bg-[#5b87d8] duration-200 text-white block w-full rounded-sm" type="submit"
    >
        Ro'yxatdan o'tish
    </button>
    </form>
</div>
<div
    id="login-modal-overlay"
    class="fixed top-0 z-50 left-0 w-full h-full bg-[#ffffffbc] opacity-0 pointer-events-none duration-200"
></div>
</header>