<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Welcome!" />
        <title>Turizm</title>

        {{#if adminLogin}}
            <link rel="stylesheet" href="/assets-admin/css/adminLogin.css">
        {{else}}
            {{>headLinks}}
            {{#if admin}}
                {{>adminHeadLinks}}
            {{/if}}
        {{/if}}
    </head>
</head>
<body>
    {{#if adminLogin}}
    {{else}}
        {{#if admin}}
            {{>adminHeader}}
        {{else}}
            {{>header}}
        {{/if}}
    {{/if}}
    
    {{{body}}}

    {{#if adminLogin}}
    {{else}}
        {{#if admin}}
            {{>adminFooter}}
        {{else}}
            {{>footer}}
        {{/if}}
        {{>jsPage}}
    {{/if}}
</body>
</html>